{% extends 'base.html.twig' %}

{% block title %}Edit password
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
{% endfor %}
        <h1> Edit the password of {{ app.user.firstName}}</h1>

        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass" name="pass">
            </div>
            <div class="mb-3">
                <label for="pass2" class="form-label">Repeat the password</label>
                <input type="password" class="form-control" id="pass2" name="pass2">
            </div>

            <button type="submit" class="btn create">Update</button>
        <button class="btn create" href="{{path("profile_index")}}"><i class="bi bi-chevron-left"> Home</i></button>
        
        </form>
    </div>

{% endblock %}
