<form method="post" action="{{ path('new_stock_delete', {'id': new_stock.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ new_stock.id) }}">
    <button class="btn delete"><i class="bi bi-trash"></i></button>
</form>
