{% extends 'base.html.twig' %}

{% block title %}Edit NewStock{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formNewStock 'bootstrap_4_layout.html.twig' %}
 <h1>Edit NewStock</h1>
    {{ include('new_stock/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn create" href="{{ path('new_stock_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>

    {{ include('new_stock/_delete_form.html.twig') }}
    </div>
{% endblock %}
