body{
    height:100vh;
    width:100vw;
    background-image: url('./fdVelo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.list{
    margin-top:2%;
   width:90%;
  
    border:rgb(73, 73, 77) solid 2px;
   background-color:rgb(73, 73, 77);
   border-radius: 10px;
}

legend{
    color:rgb(240, 182, 201);
    font-weight: bold;
}

.container-nav{
    width:100%;
   height: 20%;
    background-color: rgb(240, 182, 201);
    border:rgb(73, 73, 77) solid 2px;
   
   
}

.navbar-toggler{
    border:solid rgb(136, 130, 130) 0.5px;
    float:right;
    margin:auto;
    vertical-align: middle;
}

ul{
    float:right;
}

.table{
  
    border:rgb(73, 73, 77) solid 2px;
    background-color: rgb(240, 182, 201);
}

label{
    color:rgb(240,182,201);
 
    font-weight: bold;
}

.form-control{
    background-color:rgb(205,205,231) ;
    border:rgb(73, 73, 77) solid 2px;
}

.btn{
    padding: auto;
    margin: 5px;;
    border: 1px solid rgb(73, 73, 77);
    text-align: center;
}

.create {
    background-color: rgb(205, 205, 231) ;
}

.edit {
    background-color: rgb(195, 235, 156);
    float:right;
}

.delete {
    background-color: red;
    float:right;
}

.show{
    background-color: rgb(134, 236, 236);
    float:right;
}

h1{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    border:rgb(73, 73, 77) solid 2px;
    border-radius: 15px;
    background-color:rgb(240, 182, 201) ;
   margin-left: 20px;
   margin-right:20px;

}

h2{
    color:rgb(205, 205, 231)
}

.bikeImg{
    height:100%;
    width:75%;
   position:relative;
   float:right;
   margin-top: 80px;;


}


.img{
    height:14%;
    width: 14%;
    border-radius: 50%;
    border:rgb(48, 41, 78) solid 2px;
   float:left;
   margin-top: 1%;
    margin-left: 1%;

  

}

.nav-link{
    color:black;
    text-decoration:none;
}