{% extends "base.html.twig" %}
{% block title %}Edit user {% endblock %}
{% block body %}
{% form_theme formEditUser 'bootstrap_4_layout.html.twig' %}
<div class="container-fluid list">
<h1>Edit user  </h1>
{{form_start(formEditUser)}}
{{form_widget(formEditUser)}}
 <button type="submit" class="btn create">Update</button>
{{form_end(formEditUser)}}
{% endblock %}