{% extends 'base.html.twig' %}

{% block title %}Edit Repair{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formRepair 'bootstrap_4_layout.html.twig' %}
    <h1>Edit Repair</h1>

    {{ include('repair/_form.html.twig', {'button_label': 'Update'}) }}
 {{ include('repair/_delete_form.html.twig') }}
    <a class="btn create" href="{{ path('repair_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>

   
    </div>
{% endblock %}
