{% extends 'base.html.twig' %}

{% block title %}New BikesStock{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formBikesStock 'bootstrap_4_layout.html.twig' %}
    <h1>Add a bike to the stock</h1>

    {{ include('bikes_stock/_form.html.twig') }}

    <a  class="btn create" href="{{ path('bikes_stock_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
    </div>
{% endblock %}
