{% extends 'base.html.twig' %}

{% block title %}Edit SecondHandStock{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formSecondHandStock 'bootstrap_4_layout.html.twig' %}
    <h1>Edit SecondHandStock</h1>

    {{ include('second_hand_stock/_form.html.twig', {'button_label': 'Update'}) }}
  {{ include('second_hand_stock/_delete_form.html.twig') }}
    <a class="btn create" href="{{ path('second_hand_stock_index') }}"><i> Back to list</i></a>

  
    </div>
{% endblock %}
