{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formSource 'bootstrap_4_layout.html.twig' %}
    <h1>Edit Source</h1>

    {{ include('source/_form.html.twig', {'button_label': 'Update'}) }}
 {{ include('source/_delete_form.html.twig') }}
    <a class="btn create" href="{{ path('source_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>

   
    </div>
{% endblock %}
