{% extends 'base.html.twig' %}

{% block title %}New Trash{% endblock %}

{% block body %}
<div class="container-fluid list">
{% form_theme formTrash 'bootstrap_4_layout.html.twig' %}
    <h1>Create new Trash</h1>

    {{ include('trash/_form.html.twig') }}

    <a class="btn create" href="{{ path('trash_index') }}"><i class="bi bi-chevron-left"> Back to list</i></a>
    </div>
{% endblock %}
