{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}




{% block body %}
<div class="container">
		<div class="row">
			<div class="col-xl">
				<h1>Hello
					{{app.user.firstName}}</h1>
			</div>
		</div>
	</div>
	<div class="container">
	
	</div>
	
	</div>
{% endblock %}


